.postCard {
    position: relative;
    border: solid 2px;
    border-color: #B7B7A4;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.20);
}
