@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.jumbotron {
    margin-top: 50px;
    background-color: rgba(0,0,0,0.10);
    color: #4F030A;
}

#confessions {
    font-size: 4em;
    font-family: 'Bungee Shade', cursive;
}

@media(max-width: 575px) {
    #confessions {
        font-size: 3em;
    }
}

@media(max-width: 435px) {
    #confessions {
        font-size: 2em;
    }
}
