#newsfeed-page {
    padding-top: 70px;
    padding-bottom: 100px;
}

#newsfeed-title {
    text-align: center;
    color: #760410;
}

#hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #760410;
}

#newsfeed-cards-container {
    margin: 30px;
}

.newsfeed-card {
    position: relative;
    border: solid 2px;
    border-color: #B7B7A4;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.20);
}

.title {
    color: #2A381A;
}
