.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #B7B7A4;
    text-align: center;
    font-weight: bold;
    color: #760410;
    text-shadow: 1px 1px white;
}
