#login-page {
    /* Image from Pixabay */
    background-image: url("../images/flying-dandelions-4716287_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
