#PostCreateBox {
    position: relative;
    border: solid 2px;
    border-color: #B7B7A4;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.20);
}

.new-confession {
    color: #2A381A;
    font-size: 1.2em;
}

.header, 
.details {
    color: #6B705C;
}

.post-button {
    border-color: #2A381A;
    background-color: transparent;
    color: #2A381A;
    font-weight: bold;
}

.post-button:hover {
    border-color: transparent;
    background-color: #2A381A;
    color: white;
}
